<html>
<head>
<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
</style>
</head>
<body>
    <div style="background-color: #FF5700; height: 50px; padding-top: 5px; margin-top: 0px; text-align: center; color: white; font-size: xx-large;font-weight: bold;">
        <label>TopProz and QuickBooks Integration</label>
    </div>
    <div>
        <a class="imgLink" href="#" >
            <img
              style="height: 15%; width: 100%"
              src="TopProzLogo.png"
            />
          </a>
          <br /><br /><br />
    </div>
</body>
</html>