<html>
<head>
  <title>TopProz-QuickBooks</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    if(window.opener) {
      window.opener.location.href = '/topproz_quickbook_data'
      window.close()
    }

    function getCustomer() {
        var CustomerID = document.getElementById('txtCustomerID').value;
        if (CustomerID == "") {
            document.getElementById('error-message').style.display = 'block';
            document.getElementById('txtLoginID').focus();
            return;
        } else {
            document.getElementById('error-message').style.display = 'none';
        } 
        
      $("#result").html('Loading...')
      $("#qb-result").html('')
      $.get(`/top_proz_api/proCustomerDetails/${CustomerID}`, function(data) {
        
        if(data.customerDetails.status == 200)
        {
        $("#result").html(JSON.stringify(data.customerDetails, null, 2))
        $("#qb-result").html(JSON.stringify(data.quickBooksResponse.Customer, null, 2))
        }
        else
        {
          $("#result").html('Internal server error')
          $("#qb-result").html('Internal server error')
          if(data.authError.body.error == "invalid_grant")
            window.location.href = '/home';
        }
      })
      .fail(function(jqXHR, textStatus, errorThrown) {       
        
        if (jqXHR.status === 404) {
          $("#result").html(JSON.stringify(jqXHR.responseJSON));
        } else {
          $("#result").html(`Error: ${errorThrown}`);
          $("#qb-result").html(errorThrown)
        }
      });
    }

    function DisconnectQB() {
      $.get(`/top_proz_api/DisconnectQB`, function(data) {
        window.location.href = '/';
      })
      .fail(function(jqXHR, textStatus, errorThrown) {    
          $("#result").html(`Error: ${errorThrown}`);        
      });
    }

  </script>
</head>
<body>
  <%- include ("../views/master") %>
  <div style="margin-left: 2%;">
  <span style="display: block;">
  <h3>Welcome!</h3>
  <button style="float: right; margin-right: 2%; padding: 8px; color: green; height: 6%;" 
    onclick="DisconnectQB()">Disconnect Quickbook</button>
  <br/>
  </span>
  <div>
    <input type="text" id="txtCustomerID" placeholder="Enter Customer ID">
    <button class="btn" onclick="getCustomer()">Get TopProz Customer</button><br/>
    <div id="error-message" style="color: red; display: none;">Customer ID cannot be empty</div>
    <br><br>
    <div class="row">
      <div class="column" style="margin-right: 1%;">
        <h3>TopPorz Customer</h3>
        <code id="result"></code>
      </div>
      <div class="column" style=" word-wrap: break-word;">
        <h3>Quickbook Customer</h3>
        <code id="qb-result"></code>
      </div>
    </div>
</div>
</body>
</html>
