<html>
<head>
  <title>TopProz-QuickBooks</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    if(window.opener) {
      window.opener.location.href = '/topproz_quickbook_data'
      window.close()
    }

    function getCustomer() {
        var CustomerID = document.getElementById('txtCustomerID').value;
        if (CustomerID == "") {
            document.getElementById('error-message').style.display = 'block';
            document.getElementById('txtLoginID').focus();
            return;
        } else {
            document.getElementById('error-message').style.display = 'none';
        } 

      $("#result").html('Loading...')
      $.get(`/top_proz_api/proCustomerDetails/${CustomerID}`, function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })      
    }

    function DisconnectQB() {
      $.get(`/top_proz_api/DisconnectQB`, function(data) {
        window.location.href = '/';
      })      
    }

  </script>
</head>
<body>
  <%- include ("../views/master") %>
  <div style="margin-left: 2%;">
  <span style="display: block;">
  <h3>Welcome!</h3>
  <button style="float: right; margin-right: 2%; padding: 8px; color: green; height: 4%;" 
    onclick="DisconnectQB()">Disconnect Quickbook</button>
  <br/>
  </span>
  <div>
    <input type="text" id="txtCustomerID" placeholder="Enter Customer ID">
    <button class="btn" onclick="getCustomer()">Get TopProz Customer</button><br/>
    <div id="error-message" style="color: red; display: none;">Customer ID cannot be empty</div>
    <!-- <button onclick="revokeCall()">Revoke Token Call</button> -->
    <br><br>
    <div><code id="result"></code></div>
</div>
</body>
</html>
