body {
  font-family: "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
}

a:visited {
  color: #0000ee;
}

.imgLink {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}

#result {
  white-space: pre-wrap;
}
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=text]:focus {
  border: 1px solid #FF5700;
  outline: #FF5700;
}
.btn {
  background-color: #FF5700;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 10px;
  box-sizing: border-box;
}